
  
.hero {
    min-height: 100vh; /* Full viewport height */
    width: 100%; /* Full viewport width */
    background-color: rgba(0, 0, 0, 0.4); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Allow other elements to be positioned on top */
    overflow: hidden; /* Prevent scrollbars if there's overflow */
}
  
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  /* Hero content */
  .hero-content {
    text-align: center;
    color: #fff;
    backdrop-filter: blur(3px);
    padding: 0 40px 10px;
    position: relative;
    z-index: 5;
  }
  
  .hero-content h1 {
    font-size: 65px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .hero-content .cta-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #0f5c23;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease;
  }
  
  .hero-content .cta-button:hover {
    background-color: rgba(8, 160, 75, 0.8);
  }
  
  /* Left container for auto-type */
  .left-container {
    position: absolute;
    bottom: 21%;
    left: 30%;
    z-index: 0;
    padding: 20px;
    backdrop-filter: blur(8px);
    opacity: 0.7;
    color: #fff;
  }
  
  .auto-type {
    font-family: 'Courier New', monospace;
    color: #fff;
    font-size: 40px;
    line-height: 1.5;
  }