*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;

}
.hero{
    min-height: 100vh;
    background-color: rgba(8, 160, 75, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    text-align: center;
    color: #fff;

}
.hero-content h1{
    font-size: 65px;
    margin-bottom: 20px;
}
.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
}
.hero-content .cta-button{
    font-size: 18px;
    padding: 10px 20px;
    background-color: #0f5c23;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease;
}
.hero-content .cta-button:hover{
    background-color: rgba(8, 160, 75, 0.8);;
}
.hero::before {
    content: '';
    position: absolute;
    top: 400px;
    left: 145vh;
    width: 500px;
    height: 500px;
    z-index: -1; 
    background: url(../../../../assets/bg1.png) no-repeat center center;
    background-size: cover;
}
.hero::after {
    content: '';
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -2; 
    background: url(../../../../assets/background.png) no-repeat center center;
    background-size: cover;
    backdrop-filter: blur(8px); 
}