<section class="hero">
    <video class="hero-video" autoplay loop muted>
      <source src="assets/heroVid.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="container">
      <div class="left-container">
        <span class="auto-type"></span>
      </div>
      <div class="hero-content">
        <h1>Elevate Your Coding Skills</h1>
        <p>
          Master coding with step-by-step guidance and hands-on projects tailored
          to your level.
        </p>
        <a routerLink="/signup" class="cta-button">Get Started</a>
      </div>
    </div>
  </section>