.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: linear-gradient(to bottom, rgba(10, 14, 23, 0.95), rgba(0, 0, 0, 0.95));
  box-shadow: 0 0 10px #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, #0f5c23, transparent);
}

.logo{
  font-size: 32px;
  color:#fff;
  text-decoration: none;
  font-weight: 700;
  padding-left: 60px;
}

.logoimg{

  width: 50px;
  height: 50px;
  display: flex;
  position: absolute;
  bottom: 14px;
}


.navbar a{
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #0f5c23;
  transition: .3s;

}
.navbar a:hover:before{
  width: 100%;
} 