<header class="header">
    <div class="container">
      <div class="logo">
        <img src="assets/logo.png" alt="CodeBoost Logo" class="logo-img" />
        <h1>CodeBoost</h1>
      </div>
  
      <nav class="navigation">
        <input type="checkbox" id="nav-toggle" class="nav-toggle" />
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>
        <ul class="nav-menu">
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/signup">Signup</a></li>
          <li><a routerLink="/sections">Sections</a></li>
          <li><a routerLink="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
  